body {
    background-color: #B0E3E7;
}

body >div >div {
    background-color: #DDE6E7;
    height: 21em;
    display: inline-block;
    text-align: center;
    width: 16em;
    vertical-align: text-top;
}

img {
    width: 5em;
    height: 5em;
    margin: 1em;
}

h2 {
    font-family: 'Anton', sans-serif;
}
p {
    font-family: 'Gamja Flower', cursive;
    font-size: small;
}
#color {
    color: initial
}
#three {
    color: #87C5D3;
}
#opacity {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

